#content {
    width: 90vw;
    height: calc(100vh - 10vw);
    margin: 5vw;
    border: 4px solid #0d0d0d;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#content-header {
    padding: 5vw;
}

#content-header h1 {
    font-size: 200%;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 4px solid #0d0d0d;
}

#content-body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-body p {
    font-size: 115%;
    max-width: 70vw;
    font-style: italic;
    line-height: 125%;
}
